body {
    font-family: "Seoge UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding : 0;
    background-color: lightgray;
    color:#333;
    
}
header {
    background-color: #7c2525;
    color: white;
    padding: 20px;
    text-align: center;
}
.main-title{
    font-size: 36px;
font-weight: bold;
text-align : center;
color: #ffffff;
margin-bottom: 10px;
}
.tagline{
    font-size: 18px;
    font-style: italic;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.9;
}
nav {
    margin-top:10px;

}
nav a {
margin:0 10px;
color: white;
text-decoration: none;
font-weight:bold;
}
section{
    padding: 40px 20px;
}
h2{
    color: #70183b;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;

}
img {
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    border: 2px solid black;
}

img:hover{
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

form{
    display: flex;
    flex-direction: column;
    max-width: 400px;

}

input, textarea{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

}
button{
    background-color: #7c2525;
    color: white;
    padding:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background-color: #7c2525;
    text-align : center;
    color: white;
    padding: 15px;
}
.service-card{
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.service-info{
    flex:1;
    padding-right: 20px;
}
.service-info h3 {
    font-size:1.5rem;
margin:0;
color: black;
}
.service-text p{
    margin: 5px 0;
    color: #666;
}
.desc{
    font-size: 0.9rem;
}
.service-img {
    width: 180px;
    height:auto;
    border-radius: 10px;
    object-fit: cover;
}
.review-card{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background: #f9f9f9;
}
.star-rating {
    font-family: Arial, sans-serif;
    color: gold;
    font-size: 1.2rem;
}

.container{
    max-width:1200px;
    margin:0 auto;
    padding: 20px;
    box-shadow: 0 0 0 15px;
}
/* want my site to look compatible to phone screen */
@media screen and (max-width:768px) {
    body{
        font-size: 14px;
        padding: 10px;
    }
    img {
        max-width: 50%;
        height: auto;
    }
    .container{
        padding: 10px;
        box-shadow: 0 0 0 15px;
    }
    h1{
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p, a, nav {
        font-size: 16px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    nav a{
        padding: 5px 0;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .service-card{
        flex-direction: column;
        align-items: flex-start;
    }
    .service-card img{
        width:100%;
    }

}